<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<br/>
<h1 style="font-size: 66px; text-align: center; color: #32D6B0" >welcome to the url counter app</h1>
<br/><br/><br/><br/>


<form method="POST">
	{%csrf_token%}

<div class="input-group">
  <span class="input-group-text">Enter your Url here</span>
  <input class="form-control" name="text"></input>
</div><br/>

<div class="col-3">
    <button type="submit" class="btn btn-primary btn-lg">Count</button>
  </div>

</form>
</body>
</html>